.title-peserta {
    font-weight: 700;
    color: #38A5AD;
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: large;
}

.form-add-user {
    margin-top: 4%;
}

#formInputPassword {
    border: solid;
    border-width: 1px;
    border-radius: 10px;
    width: 204%;
}

#btn-eye {
    margin-left: 93%;
    color: #000000;
    background-color: transparent;
    border: none;
    padding: 0.2rem 0.1rem;
    font-size: 1.2rem;
    outline: none;
    cursor: pointer;
}

.btn.btn-primary.button-batal {
    background-color: #a33413;
    border: none;
    color: #ffffff;
    font-weight: bold;
    width: 100px;
    text-align: center;
    margin-left: 75%;
    margin-right: 1%;
    margin-top: 20px;
}

.btn.btn-primary.button-submit {
    background-color: #38A5AD;
    border: none;
    color: #ffffff;
    font-weight: bold;
    width: 100px;
    margin-top: 20px;
}

.btn.btn-primary.button-submit:hover {
    background-color: #5ac0c7;
}

.btn.btn-primary.button-batal:hover {
    background-color: #810404;
}